.todoItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.completed {
    color: gainsboro;
    font-weight: bold;
    text-decoration-line: line-through;
}

.no-completed {
    color: #737373;
}

.todoItem__input {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 6px;
}

.todoItem__content {
    display: flex;
    flex-direction: column;
}

.content__label {
    font-size: 1.5rem;
}

.content__hour {
    color: #A3A3A3;
    font-size: 1.3rem;

}