.app__todoSearch {
    width: 100%;
    height: max-content;
    padding: 0 10px 0 10px;
}

.todoSearch__title {
    margin-bottom: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.todoSearch__input {

}